<aside class="sidebar" id="sidebar">
    <nav class="sidebar__nav">
        <ul class="sidebar__list">
            <li class="sidebar__position"><a href="/" class="sidebar__link">Заказы</a></li>
            <li class="sidebar__position"><a href="/create_order" class="sidebar__link">Создание заказа</a></li>
        </ul>
    </nav>
</aside>