<!DOCTYPE html>
<html lang="ru">

{{> head title="Order Creation"}}

<body>

{{> header title="Создание заказа" }}

{{#> content}}
    <section class="create-order">
        <h2>Создание заказа</h2>

        <div id="create-order-root"></div>
    </section>

    {{> sidebar}}
{{/content}}

{{> footer}}

<script src="/orders/create_order.js" type="text/babel"></script>
</body>
</html>