<!DOCTYPE html>
<html lang="ru">

{{> head title="Order List"}}

<body>

{{> header title="Заказы" }}

{{#> content}}
    <section class="orders">
        <div id="orders-root"></div>
    </section>

    {{> sidebar}}
{{/content}}

{{> footer}}

<script src="/orders/orders.js" type="text/babel"></script>
</body>
</html>
