.sidebar {
    position: fixed;
    top: 100px;
    left: 0;
    width: 230px;
    height: calc(100% - 100px);
    border-radius: 12px 12px 0 0;
    background-color: white;
    padding: 20px;
    box-sizing: border-box;
    overflow-y: auto;
    box-shadow: 0 2px 5px var(--shadow-color);
    margin: 0;
    z-index: 999;
}