.footer {
    text-align: center;
    padding: 15px 0;
    margin-left: 230px;
    background-color: var(--accent-color);
    border-radius: 12px 12px 0 0;
    box-shadow: 0 -2px 8px var(--shadow-color);
}